<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="images/icon-title.JPG" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body ng-app="myapp" ng-controller="myctrl">
    <div class="row w-100 m-auto">
      <div class="card-columns p-2">
        <div class="card bg-warning zoom mt-2 text-center" ng-repeat="p in cacmonhoc | orderBy:'Name' | limitTo:6:start">
          <div class="card-body p-0">
            <a href="#!trac-nghiem/{{p.Id}}/{{p.Name}}" class=""><img class="card-img-top" src="images/logos/{{p.Logo}}" alt="Logo monhoc" title="{{p.Name}}"></a>
          </div>
          <div class="card-footer">
            <a href="#!trac-nghiem/{{p.Id}}/{{p.Name}}" class="text-center m-auto p-2 text-dark">{{p.Name}}</a>
          </div>
        </div>

      </div>
    <div class="row m-auto">
          <nav aria-label="Page navigation example" class="m-auto">
              <ul class="pagination">
                <li class="page-item mr-2">
                  <a class="page-link" href="" aria-label="Previous" ng-click="first()">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                    <span class="sr-only">First</span>
                  </a>
                </li>
                <li class="page-item mr-2">
                  <a class="page-link" href="" aria-label="Previous" ng-click="prev()">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item mr-2">
                  <a class="page-link" href="" aria-label="Next" ng-click="next()">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="" aria-label="Next" ng-click="last()">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                    <span class="sr-only">Last</span>
                  </a>
                </li>
              </ul>
            </nav>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script>
    
    
</script>
</html>

  
